################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerWithPlugins/.vs/ServerWithPlugins/v15
